@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --bg-color: #141d2f;
    --card-bg: #1e2a47;
    --text-color: #ffffff;
    --secondary-text: #a9b1d6;
    --button-bg: #0079ff;
    --button-text: #ffffff;
    --secondary-bg: #ffffff12;
}

body.light-mode {
    --bg-color: #f6f8ff;
    --card-bg: #fefefe;
    --text-color: #4b6a9b;
    --secondary-text: #2b3442;
    --button-bg: #0079ff;
    --button-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    background-color: var(--card-bg);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
}

.navbar-links {
    display: flex;
    gap: 2px;

}

.navbar-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 15px;
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar-link:hover {
    transform: scale(1.1);
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s;
}

.theme-btn:hover {
    transform: scale(1.1);
}

.theme-text {
    font-size: 1.1rem;
}

.container {
    width: 90%;
    max-width: 700px;
    margin-top: 130px;
    margin-bottom: 70px;
}

#heading {
    text-align: center;
}

.search-form,
.user-form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form input,
.user-form input {
    flex: 1;
    padding: 15px;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form .search-btn,
.user-form button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.card {
    max-width: 800px;
    background-color: var(--card-bg);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card .avatar-container {
    flex: 1;
    text-align: center;
}

.card .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--secondary-bg);
}

.card .user-info {
    flex: 2;
    color: var(--text-color);
}

.card .user-info h1 a {
    color: var(--text-color);
    text-decoration: none;
}

.card .user-info h1 a:hover {
    text-decoration: underline;
}

.card .user-info ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.card .user-info ul li a {
    color: var(--button-bg);
    text-decoration: none;
}

.card .user-info ul li a:hover {
    text-decoration: underline;
}

.repo {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background: var(--button-bg);
    color: var(--button-text);
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
}

.repo:hover {
    background: var(--secondary-bg);
    color: var(--text-color);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}

.stats strong {
    display: block;
    font-size: 1.2rem;
}

.repos {
    margin-top: 20px;
}

.repo {
    margin-right: 5px;
    display: inline-block;
    background: var(--button-bg);
    color: var(--button-text);
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.8rem;
}

.repo:hover {
    background: var(--secondary-bg);
    color: var(--text-color);
}